
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	margin: 0px;
	height: 100%;
	font-family: sans-serif;
	color:#2D2641;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
	padding-left: 0px;
}

.flex {
	display: flex;
}

.heading-font {
	font-family: sans-serif;
}

.button-style {
	border: 1px solid white;
	background: transparent;
	color: inherit;
	padding: 10px 25px;
	margin-top: 20px;
	margin-bottom: 60px;
	z-index: 1;
	letter-spacing: 2px;
	text-decoration: none;
}

.button-style:hover {
	background: white;
	color: #2D2641;
}

nav {
	height: 60px;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.logo-container{
	margin: 0 20px;
}
.nav-button {
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 35px;
	height: 30px;
	border: 1px solid black;
	padding: 3px;
	margin: 0 20px;
}

.hamburger-line {
	border: 1px solid black;
	width: 80%;
	transition: all 0.2s ease-in-out;
}

.top-active {
	transform: translate(0px, 6px) rotate(45deg);
}

.middle-active {
	opacity: 0;
}

.bottom-active {
	transform: translate(0px, -6px) rotate(-45deg);
}

.nav-menu {
	position: absolute;	
	align-items: center;
	padding-left: 0px;
	margin-top: 0px;	
	padding-top: 10px;
	height: calc(100vh - 60px) !important;
	color: white;
	display: none;
	z-index: 2;
}

.view-plans{
	height: 40px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border: 2px solid white;
	padding: 0 10px !important;
}
.active {
	top: 60px;
	width: 100%;
	height: 95vh;
	background-color: #2C2830;
	flex-direction: column;
	display: flex;
}

.nav-menu li {
	color: white;
	margin: 20px;
	padding: 10px;
	width: 90%;
	text-align: center;
}


.mobile-img {
	width: 100%;
}

.desktop-img {
	display: none;
	height: auto;
	width: 50%;
	object-fit: cover;
}

.intro-wrapper {
	background: #2D2641;
}

.intro-bg {
	background-color: transparent;
	height: 105vh;
	width: 100%;
	position: absolute;
}

.main-wrapper {
	position: relative;
	flex-direction: column;
}

.intro-text-container {
	height: 79vh;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	color: hsl(0, 0%, 98%);
	text-align: center;
}

.intro-text-container h1 {
	font-size: 3rem;
	margin: 0px;
	padding-top: 50px;
	z-index: 1;
}

.intro-text-container p {
	padding: 0px 10px;
	line-height: 1.5;
	z-index: 1;
}

.details-wrapper {
	text-align: center;
	padding-top: 125px;
	padding-bottom: 100px;
	margin: 0px 25px;
}

.details-wrapper h2 {
	font-size: 3rem;
	position: relative;
	margin: 0px;
	padding-top: 25px;
}

.details-wrapper h2:before {
	content: "";
	position: absolute;
	top: 0px;
	left: 25%;
	width: 50%;
	border-top: 1px solid #2D2641
}

.details-wrapper h3 {
	font-size: 1.5rem;
}

.details-wrapper ul {
	margin: auto;
	width: 325px;
}

.details-wrapper li {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.details-wrapper li p {
	color: #837D88;
	
}

.how-we-work {
	height: 375px;
	color: white;
	background: #2D2641;
	width: 80%;
	margin: auto;
	margin-bottom: 120px;
	text-align: center;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 30px;
}

.how-we-work h1 {
	font-size: 2.25rem;
}

.how-we-work a {
	text-decoration: none;
	margin-bottom: 35px;
}

.social li a{
    color: #96A9C6;

}
.social li a:hover{
	color: #2C2830 !important;
}

footer {
	padding-top: 85px;
	background-color: hsl(0, 0%, 98%);
}

footer div {
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

footer div:nth-child(1) {
	position: relative;
}

footer div:nth-child(1):after {
	content: "";
	position: absolute;
	bottom: 0px;
	left: 5%;
	width: 90%;
	border-top: 1px solid #837D88;
}

.social {
	width: 35%;
	height: 100%;
	margin: 30px;
	justify-content: center;
	align-items: center;
	justify-content: space-between;
}

.footer-links {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.footer-link-title {
	display: block;
	margin: 30px;
}

.footer-links li {
	color: #837D88;
	font-size: 0.9rem;
	font-weight: 700;
}

.footer-links li ul li {
	color: #2D2641;
	margin-top: 20px;
	font-weight: 700;
}
.icon{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #96A9C6;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: white;
	margin: 20px auto;
}
@media (min-width: 800px) {
	nav {
		padding-left: 10%;
		padding-right: 10%;
	}

	.nav-button {
		display: none;
	}

	.nav-menu {
		display: flex;
		position: static;
		background-color: transparent;
		background-image: none;
		flex-direction: row;
		color: #2D2641;
		right: 0;
		top: 0;
		height: 100%;
		margin: 0;
		width: 100%;
		padding-top: 0;
		justify-content: flex-end;
	}
	.nav-menu li {
		color: #96A9C6;
		margin: 0px 10px;
		padding: 0px;
		width: auto;
		font-weight: 400;
	}

	.view-plans{
		height: 40px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		border: 2px solid #2D2641;
		padding: 0 10px !important;
	}
	.view-plans:hover{
		background-color: #2C2830;
		color: white !important;
	}
	.nav-menu li:hover {
		color: #2C2830;
	}

	.mobile-img {
		display: none;
	}

	.desktop-img {
		display: block;
		transform: translateY(23%);
		width: 50%;
	}

	.intro-bg {
		z-index: 1;
	}

	.intro-text-container {
		justify-content: center;
		align-items: flex-start;
		text-align: left;
	}

	.intro-wrapper {
		padding: 0px 10%;
	}

	.intro-text-container h1 {
		font-size: 4rem;
		letter-spacing: 2px;
		width: 80%;
		padding-top: 250px;
	}

	.intro-text-container h1:before {
		content: "";
		position: absolute;
		top: 150px;
		width: 10%;
		border-top: 1px solid white;
	}

	.intro-text-container p {
		font-size: 1.1rem;
	}

	.button-style {
		font-size: 1.2rem;
	}

	.details-wrapper {
		text-align: left;
		margin: 0px 10%;
		padding-top: 15%;
	}

	.details-wrapper h2 {
		font-size: 4rem;
		padding-top: 5%;
	}

	.details-wrapper ul {
		display: flex;
		flex-direction: row;
		margin: 0px;
		width: auto;
	}

	.details-wrapper h2:before {
		left: 0;
		width: 12%;
	}

	.details-wrapper li {
		margin-top: 7%;
		margin-right: 20px;
	}

	.how-we-work {
		margin: 0px 10%;
		width: auto;
		height: 250px;
		flex-direction: row;
		padding: 5%;
		justify-content: space-between;
		text-align: left;
		letter-spacing: 2px;
		line-height: 1.2;
		margin-bottom: 150px;
	}
    .logo-container{
		z-index: 2;
	}
	.logo-container h1 a{
		font-size: 1.3em;
	}

	.how-we-work h1 {
		font-size: 3.2rem;
		width: 49%;
	}
	.icon{
		width: 100px;
		height: 100px;
		border-radius: 50%;
		background-color: #96A9C6;
		display: flex;
		justify-content: space-around;
		align-items: center;
		color: white;
		margin: 20px auto;
	}
	footer {
		padding: 5%;
	}

	footer div {
		flex-direction: row;
		justify-content: space-between;
	}

	.social {
		width: fit-content;
	}

	.social li {
		margin: 5px;
	}

	footer div:nth-child(1):after {
		left: 0;
		width: 100%;
	}

	.footer-links {
		flex-direction: row;
		justify-content: space-between;
		text-align: left;
		width: 85%;
		margin-top: 5%;
	}

	.footer-link-title {
		margin: 0;
	}
}

